body {
	font-family: 'Courier New', Courier, monospace;
}

h1 {
	font-size: 3.5em;
	/* font-weight: normal;
	margin: 0;
	padding: 0; */
}

ul.no-bullet {
	list-style: none;
}

font-italic {
	font-style: italic;
}